<!-- your html code here -->
<p>Hello, I'm contact.html</p>
<h2>Contact</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quam hic sint eius quas facilis in, repellat enim quaerat suscipit asperiores quibusdam dolorem cupiditate autem esse quia odit, minus explicabo!</p>
<div class="row d-flex justify-content-md-center">
    <form class="border border-2 bg-light col-sm-10 p-2">
        <div class="row mb-3">
            <label for="email" class="col-form-label col-sm-2 text-end fw-bold">Your E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Your email">
            </div>
        </div>
        <div class="row mb-3">
            <label for="textArea" class="col-form-label col-sm-2 text-end fw-bold">Your message</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="textArea" rows="3" placeholder="Please enter your message here..."></textarea>
            </div>
        </div>
        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn btn-success boton" style="background-color: #347AB8;">Submit</div>
        </div>
    </form>
</div>