<h1>PORTAFOLIO</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione similique voluptas fugit corporis in natus odio molestias quasi, error aliquid mollitia hic nesciunt possimus, asperiores dicta voluptatem, qui totam!</p>
<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/700/400" alt="...">
        <div class="card-body">
          <h5 class="card-title " style="color: #347AB8;">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellendus enim rem, dolor at tenetur deserunt quaerat architecto est eaque odio autem accusamus maxime. Id ipsa ea dolore eos tenetur?</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #347AB8;">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eum necessitatibus tempore suscipit libero cum adipisci, odio facilis sed natus quibusdam eos culpa, labore perferendis. Doloremque explicabo suscipit quos eum!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #347AB8;">Project Name</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla iste optio est molestiae quam blanditiis beatae, quia numquam veniam facere commodi laboriosam deserunt! Libero cumque odio cum beatae, culpa expedita.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>